<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>MZD Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='~/Content/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/tailwind.min.css" />
    <link href="~/Content/_layout.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
</head>
<body>
    <nav class="sidebar">
        <div class="logo-container">
            <span class="image">
                <img src="~/imgs/logo.png" alt="Logo" />
            </span>
            <span class="logo-text">MZD Portal</span>
        </div>
        <div class="menu-bar">
            <ul class="menu menu-links">
                <li>
                    <a href="@Url.Action("Index", "Home")" class="nav-link">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="nav-text">Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Contact")" class="nav-link">
                        <i class='bx bxs-contact icon'></i>
                        <span class="nav-text">Rehber</span>
                    </a>
                </li>
                @if (User.IsInRole("IK") || User.IsInRole("Yonetici") || User.IsInRole("Sys"))
                {
                    <li class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button">
                            <i class='bx bx-street-view icon'></i>
                            <span class="nav-text">İnsan Kaynakları</span>
                            <i class='bx bx-chevron-down icon'></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DilekIstek_IK", "InsanKaynaklari")" class="nav-link">Dilek Kutusu</a></li>
                            <li><a href="@Url.Action("GonderiListele", "Gonderi")" class="nav-link">Duyurular</a></li>
                            <li><a href="@Url.Action("SendNotification", "Notification")" class="nav-link">Anlık Bildirim</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("BilgiIslem") || User.IsInRole("Yonetici") || User.IsInRole("Sys"))
                {
                    <li class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button">
                            <i class='bx bx-signal-5 icon'></i>
                            <span class="nav-text">Bilgi İşlem</span>
                            <i class='bx bx-chevron-down icon'></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Kullanici_Islemleri")" class="nav-link">Kullanıcı İşlemleri</a></li>
                            <li><a href="@Url.Action("YemekYukle", "BilgiIslem")" class="nav-link">Yemek Yükle/Sil</a></li>
                            <li><a href="@Url.Action("MolaYukle", "BilgiIslem")" class="nav-link">Mola Yükle/Sil</a></li>
                            <li><a href="@Url.Action("SendNotification", "Notification")" class="nav-link">Anlık Bildirim</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("IdariIsler") || User.IsInRole("Yonetici") || User.IsInRole("Sys"))
                {
                    <li class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button">
                            <i class='bx bx-street-view icon'></i>
                            <span class="nav-text">İdari İşler</span>
                            <i class='bx bx-chevron-down icon'></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DilekIstek_IK", "InsanKaynaklari")" class="nav-link">Dilek Kutusu</a></li>
                            <li><a href="@Url.Action("GonderiListele", "Gonderi")" class="nav-link">Duyurular</a></li>
                            <li><a href="@Url.Action("SendNotification", "Notification")" class="nav-link">Anlık Bildirim</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Dokumantasyon") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("Merkez") || User.IsInRole("Yerleske") || User.IsInRole("Lider"))
                {
                    <li class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button">
                            <i class='bx bx-book-open icon'></i>
                            <span class="nav-text">Dokümantasyon</span>
                            <i class='bx bx-chevron-down icon'></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Dokumantasyon")" class="nav-link">Stok Kartı</a></li>
                            @if (User.IsInRole("Dokumantasyon") || User.IsInRole("Yonetici") || User.IsInRole("Sys"))
                            {
                                <li><a href="@Url.Action("Index_sorumlu", "Dokumantasyon")" class="nav-link">Gelen Talepler</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("Dokumantasyon") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler") || User.IsInRole("Merkez") || User.IsInRole("Yerleske"))
                {
                    <li>
                        <a href="@Url.Action("Create", "DilekOneri")" class="nav-link">
                            <i class='bx bx-envelope icon'></i>
                            <span class="nav-text">Dilek & Öneri</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("Dokumantasyon") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler") || User.IsInRole("Merkez") || User.IsInRole("Yerleske"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Survey")" class="nav-link">
                            <i class='bx bx-edit icon'></i>
                            <span class="nav-text">Anketler</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("Dokumantasyon") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler") || User.IsInRole("Merkez"))
                {
                    <li>
                        <a href="@Url.Action("MerkezYemekListesi", "Home")" class="nav-link">
                            <i class='bx bx-food-menu icon'></i>
                            <span class="nav-text">Merkez Yemek Listesi</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("Dokumantasyon") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler") || User.IsInRole("Yerleske"))
                {
                    <li>
                        <a href="@Url.Action("YerleskeYemekListesi", "Home")" class="nav-link">
                            <i class='bx bx-food-menu icon'></i>
                            <span class="nav-text">Yerleşke Yemek Listesi</span>
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Mola", "Home")" class="nav-link">
                        <i class='bx bx-time icon'></i>
                        <span class="nav-text">Mola Saatleri</span>
                    </a>
                </li>
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler") || User.IsInRole("Yerleske") || User.IsInRole("Merkez") || User.IsInRole("Dokumantasyon"))
                {
                    <li class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button">
                            <i class='bx bx-user icon'></i>
                            <span class="nav-text">Görev</span>
                            <i class='bx bx-chevron-down icon'></i>
                        </button>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler"))
                            {
                                <li><a href="@Url.Action("Index", "Task")" class="nav-link">Görev Atama</a></li>
                            }
                            <li><a href="@Url.Action("UserTasks", "Task")" class="nav-link">Görevlerim</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler"))
                {
                    <li>
                        <a href="@Url.Action("Index", "MeetingRoom")" class="nav-link">
                            <i class='bx bx-calendar icon'></i>
                            <span class="nav-text">Toplantı</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler") || User.IsInRole("Yerleske") || User.IsInRole("Merkez") || User.IsInRole("Dokumantasyon"))
                {
                    <li>
                        <a href="@Url.Action("Index", "BeyazTahta")" class="nav-link">
                            <i class='bx bx-tv icon'></i>
                            <span class="nav-text">TV Düzenle</span>
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("TV", "BeyazTahta")" class="nav-link no-loading">
                        <i class='bx bx-tv icon'></i>
                        <span class="nav-text">TV Görüntüle</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <div id="onlineUsers" style="font-size:12px; top: 10px; right: 10px; padding: 10px; border-radius: 5px;">
                Çevrimiçi Kullanıcılar: <span id="onlineUsersCount"></span>
            </div>
            <ul class="menu menu-links">
                @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("Dokumantasyon") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler") || User.IsInRole("Merkez") || User.IsInRole("Yerleske"))
                {
                    <li class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button">
                            <i class='bx bxs-inbox icon'></i>
                            <span class="nav-text">Gelen Kutusu</span>
                            <span id="notificationCount"></span>
                            <i id="notificationIcon" class="bx bxs-bell-ring bx-tada" style="display: none; color:gray; margin-left:5px;"></i>
                        </button>
                        <ul class="dropdown-menu" id="notificationList">
                            <li><span class="text nav-text">Hiç Bildirim Yok</span></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button class="dropdown-toggle nav-link" type="button">
                            <i class='bx bx-user icon'></i>
                            <span class="nav-text">Profilim</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Edit", "User")" class="nav-link">
                                    Profil Detayları
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Bildirimlerim", "DilekOneri")" class="nav-link">
                                    Dilek ve Öneri Kutum
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Logout", "Account")" class="nav-link">
                            <i class='bx bx-log-out icon'></i>
                            <span class="nav-text">Çıkış yap</span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="nav-link">
                            <i class='bx bx-log-in icon'></i>
                            <span class="nav-text">Giriş yap</span>
                        </a>
                    }
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-content">
        <div id="loadingOverlay" style="display:none;">
            <div class="loader"></div>
        </div>
        @RenderBody()
    </div>

    <div id="toggleBox" class="toggle-box" style="display:none;">
        <button id="closeChat" class="btn-close" type="button">×</button>
        <div id="messages"></div>
        <input type="text" id="messageInput" placeholder="Mesajınızı yazın..." />
        <button id="sendButton" class="btn-custom">Gönder</button>
        <div id="onlineUsersListContainer">
            <ul id="onlineUsersList"></ul>
        </div>
    </div>
    <button id="toggleButton" class="toggle-button" type="button">
        <i class='bx bx-message icon'></i>
    </button>

    <div id="notificationModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="notificationModalLabel" class="modal-title">Bildirim</h5>
                    <button type="button" class="btn-close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <p id="notificationMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-custom secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/popper")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
      $(document).ready(function () {
    // Sidebar kapama
    $('#closeSidebar').click(function () {
        $('.sidebar').removeClass('active');
    });

    // Chat kutusu aç/kapa
    $('#toggleButton').click(function () {
        $('#toggleBox').show();
        $(this).hide();
    });
    $('#closeChat').click(function () {
        $('#toggleBox').hide();
        $('#toggleButton').show();
    });

    // Enter ile mesaj gönder
    $('#messageInput').keypress(function (e) {
        if (e.which == 13) {
            $('#sendButton').click();
            return false;
        }
    });

    // Dropdown menü aç/kapa
          $('.dropdown-toggle').on('click', function (e) {
              e.preventDefault();
              var $dropdown = $(this).closest('.dropdown');
              var $menu = $dropdown.find('.dropdown-menu');
              // Diğer tüm dropdownları kapat
              $('.dropdown-menu').not($menu).removeClass('show');
              // Sadece tıklananı toggle et
              $menu.toggleClass('show');
          });

          // Dropdown dışına tıklayınca kapat
          $(document).on('click', function (e) {
              if (!$(e.target).closest('.dropdown').length) {
                  $('.dropdown-menu').removeClass('show');
              }
          });

    // Modal kapama
    $('[data-dismiss="modal"]').click(function () {
        $(this).closest('.modal').removeClass('show');
    });

    // Loading overlay
    $('#loadingOverlay').hide();
    $('a').on('click', function (e) {
        if (!$(this).hasClass('dropdown-toggle') && !$(this).hasClass('no-loading')) {
            $('#loadingOverlay').show();
        }
    });

    // SignalR Chat (yetkili roller)
    @if (User.IsInRole("Lider") || User.IsInRole("Yonetici") || User.IsInRole("Sys") || User.IsInRole("IK") || User.IsInRole("BilgiIslem") || User.IsInRole("IdariIsler"))
    {
        <text>
        if ($.connection && $.connection.chatHub) {
            var chat = $.connection.chatHub;
            var notificationSound = new Audio('@Url.Content("~/Content/notification.mp3")');
            chat.client.broadcastMessage = function (user, message) {
                var timestamp = new Date().toLocaleTimeString();
                $('#messages').append('<div><strong>' + user + '</strong> (' + timestamp + '): ' + message + '</div>');
                scrollToBottom();
                notificationSound.play();
            };
            $('#sendButton').click(function () {
                var message = $('#messageInput').val();
                chat.server.send('@User.Identity.Name', message);
                $('#messageInput').val('').focus();
            });
            $.connection.hub.start();
        }
        </text>
    }

    // SignalR Online Users
    if ($.connection && $.connection.onlineUsersHub) {
        var onlineUsersHub = $.connection.onlineUsersHub;
        onlineUsersHub.client.updateOnlineUsers = function (count) {
            $('#onlineUsersCount').text(count);
        };
        onlineUsersHub.client.updateUserList = function (users) {
            var usersList = $('#onlineUsersList');
            usersList.empty();
            users.forEach(function (user) {
                usersList.append('<li class="online-user">' + user + '</li>');
            });
        };
        $.connection.hub.start();
    }

    // Bildirimler (Notification)
   function updateNotifications() {
       $.get('@Url.Action("GetUnreadNotifications", "Notification")', function (data) {
           var $notificationList = $('#notificationList');
           var $notificationIcon = $('#notificationIcon');
           var $notificationCount = $('#notificationCount');
           $notificationList.empty();
           if (data && data.length > 0) {
               $notificationIcon.show();
               $notificationCount.text(data.length).show();
               $.each(data, function (i, notification) {
                   $notificationList.append(
                       '<li><a href="#" class="notification-link" data-id="' + notification.Id + '">' +
                       notification.Message +
                       '</a></li>'
                   );
               });
           } else {
               $notificationIcon.hide();
               $notificationCount.hide();
               $notificationList.append('<li><span class="text nav-text">Hiç Bildirim Yok</span></li>');
           }
       });
   }

updateNotifications();
setInterval(updateNotifications, 60000);

    // Bildirime tıklayınca okundu yap ve yönlendir
$(document).on('click', '.notification-link', function (e) {
    e.preventDefault();
    var id = $(this).data('id');
    var message = $(this).text().toLowerCase();
    var url = '#';
    if (message.includes('anket')) {
        url = '@Url.Action("Index", "Survey")';
    } else if (message.includes('görev')) {
        url = '@Url.Action("UserTasks", "Task")';
    } else if (message.includes('dilek')) {
        url = '@Url.Action("Bildirimlerim", "DilekOneri")';
    }
    $.post('@Url.Action("MarkAsRead", "Notification")', { id: id }, function (data) {
        if (data.success) {
            window.location.href = url;
        }
    });
});


    // Modal bildirimleri (SignalR NotificationHub)
    if ($.connection && $.connection.notificationHub) {
        var notificationHub = $.connection.notificationHub;
        notificationHub.client.showNotification = function (message) {
            $('#notificationMessage').html(message);
            $('#notificationModal').addClass('show');
        };
        $.connection.hub.start();
    }

    // Scroll to bottom for chat
    function scrollToBottom() {
        var messagesContainer = $('#messages');
        messagesContainer.scrollTop(messagesContainer[0].scrollHeight);
    }
});

    </script>

</body>
</html>
