@model MZDNETWORK.Models.Task

@{
    ViewBag.Title = "Task Details";
}

<h2>Task Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            Progress
        </dt>
        <dd>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Progress%;" aria-valuenow="@Model.Progress" aria-valuemin="0" aria-valuemax="100">@Model.Progress%</div>
            </div>
        </dd>
    </dl>
</div>

<h4>Todo Items</h4>
<table class="table">
    <tr>
        <th>Description</th>
        <th>Additional Description</th>
        <th>Due Date</th>
        <th>Is Completed</th>
        <th></th>
    </tr>
    @foreach (var item in Model.TodoItems)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @using (Html.BeginForm("UpdateAdditionalDescription", "Task", FormMethod.Post, new { @class = "additional-description-form" }))
                {
                    @Html.Hidden("taskId", Model.Id)
                    @Html.Hidden("todoItemId", item.Id)
                    <input type="text" name="additionalDescription" value="@item.AdditionalDescription" class="form-control" />
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsCompleted, new { @class = "todo-checkbox", data_taskid = Model.Id, data_todoitemid = item.Id })
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.todo-checkbox').change(function () {
                var taskId = $(this).data('taskid');
                var todoItemId = $(this).data('todoitemid');
                var isCompleted = $(this).is(':checked');

                $.post('@Url.Action("UpdateProgress", "Task")', { taskId: taskId, todoItemId: todoItemId, isCompleted: isCompleted }, function (data) {
                    location.reload();
                });
            });

            $('.additional-description-form input[name="additionalDescription"]').keypress(function (e) {
                if (e.which == 13) { // Enter tuşuna basıldığında
                    e.preventDefault(); // Formun varsayılan gönderimini engelle
                    $(this).closest('form').submit(); // Formu gönder
                }
            });
        });
    </script>
}

