@model IEnumerable<MZDNETWORK.Models.Task>
@{
    ViewBag.Title = "Kullanıcı Görevleri";
}

<h2>Görevler</h2>

<p>
    Kullanıcı: @ViewBag.Username
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Görev Adı
            </th>
            <th>
                Görev Açıklaması
            </th>
            <th>
                Görev Başlangıç Tarihi
            </th>
            <th>
                Görev Bitiş Tarihi
            </th>
            <th>
                Görev İlerlemesi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @item.Progress%;" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100">@item.Progress%</div>
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>