@model MZDNETWORK.Models.Dokumantasyon

@{
    ViewBag.Title = "Dokümantasyon Sil";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>

<div class="dilek-istek-form login-form">
    <h3 style="color:yellow;">Stok kartı detayları</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            @if (!string.IsNullOrEmpty(Model.TalepAdSoyad))
            {
                <div class="detail-row">
                    <dt>Ad Soyad</dt>
                    <dd>@Html.DisplayFor(model => model.TalepAdSoyad)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TalepBirim))
            {
                <div class="detail-row">
                    <dt>Birim</dt>
                    <dd>@Html.DisplayFor(model => model.TalepBirim)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TalepUnvan))
            {
                <div class="detail-row">
                    <dt>Ünvan</dt>
                    <dd>@Html.DisplayFor(model => model.TalepUnvan)</dd>
                </div>
            }
            @if (Model.TalepTarihi != null)
            {
                <div class="detail-row">
                    <dt>Tarih</dt>
                    <dd>@Html.DisplayFor(model => model.TalepTarihi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.HamUreticiParcaNo))
            {
                <div class="detail-row">
                    <dt>Üretici Parça No</dt>
                    <dd>@Html.DisplayFor(model => model.HamUreticiParcaNo)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.HamDatasheet))
            {
                <div class="detail-row">
                    <dt>Datasheet</dt>
                    <dd>@Html.DisplayFor(model => model.HamDatasheet)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.HamHammaddeTuru))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.HamHammaddeTuru)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.HamStokBirimi))
            {
                <div class="detail-row">
                    <dt>Birimi</dt>
                    <dd>@Html.DisplayFor(model => model.HamStokBirimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.HamDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.HamDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MamulFirmaAdi))
            {
                <div class="detail-row">
                    <dt>Firma Adı</dt>
                    <dd>@Html.DisplayFor(model => model.MamulFirmaAdi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MamulMamulKodu))
            {
                <div class="detail-row">
                    <dt>Mamul Kodu</dt>
                    <dd>@Html.DisplayFor(model => model.MamulMamulKodu)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MamulMamulTuru))
            {
                <div class="detail-row">
                    <dt>Mamul Türü</dt>
                    <dd>@Html.DisplayFor(model => model.MamulMamulTuru)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MamulStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.MamulStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MamulDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.MamulDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.YariMamulFirmaAdi))
            {
                <div class="detail-row">
                    <dt>Firma Adı</dt>
                    <dd>@Html.DisplayFor(model => model.YariMamulFirmaAdi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.YariMamulYarimamulTuru))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.YariMamulYarimamulTuru)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.YariMamulStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.YariMamulStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.YarimamulBagliMamulKodu))
            {
                <div class="detail-row">
                    <dt>Bağlı Olduğu Kod</dt>
                    <dd>@Html.DisplayFor(model => model.YarimamulBagliMamulKodu)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.YarimamulDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.YarimamulDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.UretimDokFirmaAdi))
            {
                <div class="detail-row">
                    <dt>Firma Adı</dt>
                    <dd>@Html.DisplayFor(model => model.UretimDokFirmaAdi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.UretimDokTur))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.UretimDokTur)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.UretimDokStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.UretimDokStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.UretimDokBagliMamulKodu))
            {
                <div class="detail-row">
                    <dt>Bağlı Olduğu Kod</dt>
                    <dd>@Html.DisplayFor(model => model.UretimDokBagliMamulKodu)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.UretimDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.UretimDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.KablajTahtasiFirmaAdi))
            {
                <div class="detail-row">
                    <dt>Firma Adı</dt>
                    <dd>@Html.DisplayFor(model => model.KablajTahtasiFirmaAdi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.KablajTahtasiTuru))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.KablajTahtasiTuru)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.KablajTahtasiStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.KablajTahtasiStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.KablajTahtasiBagliKod))
            {
                <div class="detail-row">
                    <dt>Bağlı Olduğu Kod</dt>
                    <dd>@Html.DisplayFor(model => model.KablajTahtasiBagliKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.KablajTahtasiDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.KablajTahtasiDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiFirmaAdi))
            {
                <div class="detail-row">
                    <dt>Firma Adı</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiFirmaAdi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiHammadeParcaNo))
            {
                <div class="detail-row">
                    <dt>Hammade Parça No</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHammadeParcaNo)</dd>
                </div>
            }
            @if (Model.EpoksiYukseklik != null)
            {
                <div class="detail-row">
                    <dt>Yükseklik</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiYukseklik)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiTur))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiTur)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiBagliKod))
            {
                <div class="detail-row">
                    <dt>Bağlı Olduğu Kod</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiBagliKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon TArafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MakinaFirmaAdi))
            {
                <div class="detail-row">
                    <dt>Firma Adı</dt>
                    <dd>@Html.DisplayFor(model => model.MakinaFirmaAdi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MakinaYatirimNo))
            {
                <div class="detail-row">
                    <dt>Yatırım No</dt>
                    <dd>@Html.DisplayFor(model => model.MakinaYatirimNo)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MakinaHammadeParcaNo))
            {
                <div class="detail-row">
                    <dt>Hammadde Parça No</dt>
                    <dd>@Html.DisplayFor(model => model.MakinaHammadeParcaNo)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MakinaTur))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.MakinaTur)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MakinaStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.MakinaStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MakinaBagliKod))
            {
                <div class="detail-row">
                    <dt>Bağlı Olduğu Kod</dt>
                    <dd>@Html.DisplayFor(model => model.MakinaBagliKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MakinaDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.MakinaDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TestKonnektorTur))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.TestKonnektorTur)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TestHammadeParcaNo))
            {
                <div class="detail-row">
                    <dt>Parça No</dt>
                    <dd>@Html.DisplayFor(model => model.TestHammadeParcaNo)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TestJigNoSiraNo))
            {
                <div class="detail-row">
                    <dt>Test Jig no - Sıra no</dt>
                    <dd>@Html.DisplayFor(model => model.TestJigNoSiraNo)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TestParcaAciklama))
            {
                <div class="detail-row">
                    <dt>Parça Açıklama</dt>
                    <dd>@Html.DisplayFor(model => model.TestParcaAciklama)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TestStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.TestStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.TestDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.TestDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiHavFirmaAdi))
            {
                <div class="detail-row">
                    <dt>Firma Adı</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavFirmaAdi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiHavHammadeParcaNo))
            {
                <div class="detail-row">
                    <dt>Parça No</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavHammadeParcaNo)</dd>
                </div>
            }
            @if (Model.EpoksiHavEn != null)
            {
                <div class="detail-row">
                    <dt>En</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavEn)</dd>
                </div>
            }
            @if (Model.EpoksiHavBoy != null)
            {
                <div class="detail-row">
                    <dt>Boy</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavBoy)</dd>
                </div>
            }
            @if (Model.EpoksiHavDerinlik != null)
            {
                <div class="detail-row">
                    <dt>Derinlik</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavDerinlik)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiHavTur))
            {
                <div class="detail-row">
                    <dt>Tür</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavTur)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiHavStokTanimi))
            {
                <div class="detail-row">
                    <dt>Stok Tanımı</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavStokTanimi)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiHavBagliKod))
            {
                <div class="detail-row">
                    <dt>Bağlı Olduğu Kod</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavBagliKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.EpoksiHavDokumantasyonTarafindanVerilenKod))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarafından Verilen Kod</dt>
                    <dd>@Html.DisplayFor(model => model.EpoksiHavDokumantasyonTarafindanVerilenKod)</dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.DokumantasyonSorumlu))
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Sorumlusu</dt>
                    <dd>@Html.DisplayFor(model => model.DokumantasyonSorumlu)</dd>
                </div>
            }
            @if (Model.DokumantasyonTarih != null)
            {
                <div class="detail-row">
                    <dt>Dokümantasyon Tarih</dt>
                    <dd>@Html.DisplayFor(model => model.DokumantasyonTarih)</dd>
                </div>
            }
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color" style="display: flex; justify-content: space-between;">
                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "lf--submit", style = "flex: 1; text-align: center; text-decoration: none;" })
            </div>
        }
    </div>
</div>

<style>
    .login-form {
        width: 90vw;
        max-width: 600px;
        margin: 0 auto;
    }

    .detail-row {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: 1px solid #ddd;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    dt {
        font-weight: bold;
        color: #333;
        flex: 1;
    }

    dd {
        margin-left: 0;
        color: #555;
        word-break: break-all;
    }

    .form-actions {
        margin-top: 20px;
    }

    .lf--submit {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

        .lf--submit:hover {
            background-color: #0056b3;
        }
</style>
