@model MZDNETWORK.Models.User

@{
    ViewBag.Title = "Yeni Kullanıcı";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="color:white;" class="container">
    <form class='dilek-istek-form login-form' action="@Url.Action("Create", "Kullanici_Islemleri")" method="post">
        @Html.AntiForgeryToken()

        <div class="flex-row">
            <label class="lf--label" for="Username">
                <i class='bx bx-id-card'></i>
            </label>
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "lf--input", placeholder = "Kullanıcı Adı", required = "required" } })
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Password">
                <i class='bx bx-lock'></i>
            </label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "lf--input", placeholder = "Şifre", required = "required" } })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Role">
                <i class='bx bx-user'></i>
            </label>
            @Html.DropDownListFor(model => model.Role, new SelectList(new List<SelectListItem>
            {
                new SelectListItem { Text = "Yönetici", Value = "Yonetici" },
                new SelectListItem { Text = "Bilgi İşlem", Value = "BilgiIslem" },
                new SelectListItem { Text = "İnsan Kaynakları", Value = "IK" },
                new SelectListItem { Text = "İdari İşler", Value = "IdariIsler" },
                new SelectListItem { Text = "Lider", Value = "Lider" },
                new SelectListItem { Text = "Dokümantasyon", Value = "Dokumantasyon" },
                new SelectListItem { Text = "Merkez", Value = "Merkez" },
                new SelectListItem { Text = "Yerleşke", Value = "Yerleske" }
            }, "Value", "Text"), "Rol Seçiniz", new { @class = "lf--input", required = "required" })
            @Html.ValidationMessageFor(model => model.Role)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Name">
                <i class='bx bx-user'></i>
            </label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "lf--input", placeholder = "Ad", required = "required" } })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Surname">
                <i class='bx bx-user'></i>
            </label>
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "lf--input", placeholder = "Soyad", required = "required" } })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Department">
                <i class='bx bx-building'></i>
            </label>
            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "lf--input", placeholder = "Departman", required = "required" } })
            @Html.ValidationMessageFor(model => model.Department)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Position">
                <i class='bx bx-briefcase'></i>
            </label>
            @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "lf--input", placeholder = "Pozisyon", required = "required" } })
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Intercom">
                <i class='bx bx-phone'></i>
            </label>
            @Html.EditorFor(model => model.Intercom, new { htmlAttributes = new { @class = "lf--input", placeholder = "Dahili Telefon", required = "required" } })
            @Html.ValidationMessageFor(model => model.Intercom)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="PhoneNumber">
                <i class='bx bx-phone'></i>
            </label>
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "lf--input", placeholder = "Telefon Numarası", required = "required" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="InternalEmail">
                <i class='bx bx-envelope'></i>
            </label>
            @Html.EditorFor(model => model.InternalEmail, new { htmlAttributes = new { @class = "lf--input", placeholder = "İç E-posta", required = "required" } })
            @Html.ValidationMessageFor(model => model.InternalEmail)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="ExternalEmail">
                <i class='bx bx-envelope'></i>
            </label>
            @Html.EditorFor(model => model.ExternalEmail, new { htmlAttributes = new { @class = "lf--input", placeholder = "Dış E-posta", required = "required" } })
            @Html.ValidationMessageFor(model => model.ExternalEmail)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Sicil">
                <i class='bx bx-id-card'></i>
            </label>
            @Html.EditorFor(model => model.Sicil, new { htmlAttributes = new { @class = "lf--input", placeholder = "Sicil", required = "required" } })
            @Html.ValidationMessageFor(model => model.Sicil)
        </div>

        <h3>Ek Bilgiler</h3>

        <div class="flex-row">
            <label class="lf--label" for="Email">
                <i class='bx bx-envelope'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().Email, new { htmlAttributes = new { @class = "lf--input", placeholder = "E-posta"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().Email)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="RealPhoneNumber">
                <i class='bx bx-phone'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().RealPhoneNumber, new { htmlAttributes = new { @class = "lf--input", placeholder = "Gerçek Telefon Numarası"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().RealPhoneNumber)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Adres">
                <i class='bx bx-home'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().Adres, new { htmlAttributes = new { @class = "lf--input", placeholder = "Adres"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().Adres)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Adres2">
                <i class='bx bx-home'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().Adres2, new { htmlAttributes = new { @class = "lf--input", placeholder = "Adres 2"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().Adres2)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Sehir">
                <i class='bx bx-map'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().Sehir, new { htmlAttributes = new { @class = "lf--input", placeholder = "Şehir"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().Sehir)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Ulke">
                <i class='bx bx-map'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().Ulke, new { htmlAttributes = new { @class = "lf--input", placeholder = "Ülke"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().Ulke)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Postakodu">
                <i class='bx bx-envelope'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().Postakodu, new { htmlAttributes = new { @class = "lf--input", placeholder = "Posta Kodu"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().Postakodu)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="KanGrubu">
                <i class='bx bx-droplet'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().KanGrubu, new { htmlAttributes = new { @class = "lf--input", placeholder = "Kan Grubu"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().KanGrubu)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="DogumTarihi">
                <i class='bx bx-calendar'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().DogumTarihi, new { htmlAttributes = new { @class = "lf--input", placeholder = "Doğum Tarihi"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().DogumTarihi)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="Cinsiyet">
                <i class='bx bx-user'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().Cinsiyet, new { htmlAttributes = new { @class = "lf--input", placeholder = "Cinsiyet"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().Cinsiyet)
        </div>

        <div class="flex-row">
            <label class="lf--label" for="MedeniDurum">
                <i class='bx bx-user'></i>
            </label>
            @Html.EditorFor(model => model.UserInfo.FirstOrDefault().MedeniDurum, new { htmlAttributes = new { @class = "lf--input", placeholder = "Medeni Durum"} })
            @Html.ValidationMessageFor(model => model.UserInfo.FirstOrDefault().MedeniDurum)
        </div>

        <div class="flex-row">
            <input class='lf--submit' type='submit' value='Gönder' style="text-decoration: none;">
            @Html.ActionLink("Geri Dön", "Index", null, new { @class = "lf--submit", style = "flex: 1; text-align: center; text-decoration: none;" })
        </div>
    </form>
</body>
<style>
    .login-form {
        width: 90vw;
        max-width: 600px;
        margin: 0 auto;
        overflow: auto;
    }

    .flex-row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .lf--label {
        width: 50px;
        text-align: center;
    }

    .lf--input {
        flex: 1;
        padding: 10px;
        font-size: 1rem;
    }

    .lf--submit {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

        .lf--submit:hover {
            background-color: #0056b3;
        }
</style>
